<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <title><%= title %></title>
   <link rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
   <%= stylesheet_link_tag 'landing', :media => 'screen' %>
   <%= javascript_include_tag :defaults %>
   <%= csrf_meta_tag %>
</head>
<body>
	<%= image_tag("Daniela.png", :class => "back") %>
<div id="doc3" class="yui-t7">
   <div id="hd" role="banner"><h1>Entree</h1></div>
   <div id="bd" role="main">
	<div class="yui-g">
		
	<!-- YOUR DATA GOES HERE -->
	</div>

	</div>
   <div id="ft" role="contentinfo"><p>Footer</p></div>
</div>
</body>
</html>


